<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Main page </title>
</head>
<body class="form-body">
<img class="top-image" th:src="@{https://s.dou.ua/img/static/companies/%D0%90%D0%9D%D0%A6.png}"/>
<div class="menu">
    <ul>
        <li><a sec:authorize="isAnonymous()" href="/registration">Registration</a></li>
        <li><a sec:authorize="hasRole('ADMIN')" href="/admin"> Admin page</a></li>
        <li><a sec:authorize="isFullyAuthenticated()" href="/myProfile"> My profile</a></li>
        <li><a sec:authorize="isAnonymous()" href="/login"> Login to your account </a></li>
    <li>
        <form method="post" th:action="@{/logout}">
            <button sec:authorize="isFullyAuthenticated()" class="logout-button" type="submit"> LOGOUT</button>
        </form>
    </li>
    </ul>
</div>
</body>
</html>